/*
Colors:

light-red : #BB5959
subtle-dark-red: #a04141
 */

/* ---------------------------- */
/* BASIC SETUP */
/* ---------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-color: rgb(250, 250, 250);
  color: rgb(12, 12, 12);
  font-family: 'CircularStd', sans-serif;
  font-family: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  position: relative;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* --------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/* HEADINGS */

h1,h2 {
  line-height: 145%;
}

h1 {
  letter-spacing: 1px;
  font-size: 200%;
  font-weight: 500;
}

h2 {
  font-size: 170%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-weight: 500;
}

/* BUTTONS */

.btn:link,
.btn:visited {
  font-size: 80%;
  font-weight: 500;
  padding: 14px 26px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.4s;
  -webkit-tap-highlight-color: transparent;
}


.btn.btn-light-red:link,
.btn.btn-light-red:visited {
  background-color: #BB5959;
  box-shadow: 0px 3px 10px #cc7b7bd0 ;
  color: #fff;
}

.btn.btn-light-red:hover,
.btn.btn-light-red:active {
  background-color: #a04141;
}


/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top:0;
  right:0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.733);
  animation: fadeIn 0.5s;
  overflow: auto;
}

.modal-close {
  float: right;
  font-size: 200%;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* PARAGRAPHS */

p {
  line-height: 155%;
  font-size: 90%;
}

.metadata-section {
  text-align: center;
  margin: 0 auto 40px auto;
  width: 50%;
  margin-bottom: 90px;
}

.col-grey {
  color : rgb(126, 126, 126);
}

/* LISTS */

ul li {
  line-height: 145%;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ---------------------------- */
/* HEADER */
/* ---------------------------- */

header {
  background-image: url(img/Bg-light.jpg);
  background-size: cover;
  background-position: 550px 0px;
  background-attachment: fixed;
  height: 107vh;
  position: relative;
}

header nav {
  position: relative;
  z-index: 3;
}

/* see queries.css 768-1023px */
.main-nav-container {
  visibility: visible;
  opacity: 1;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
  margin-right: 45%;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color:#000;
  font-weight: 400;
  transition: color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #a04141;
}

.main-nav li a.active {
  color: #BB5959;
}

#header-curve {
  top:0;
  position: absolute;
  z-index: 0;
  height: 107vh;
  width: 100%;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.hero-text-box h1 {
  width: 45%;
}

.hero-text-box p {
  width: 50%;
  margin-bottom: 90px;
}

.logo {
  float:left;
  height: 55px;
  margin-top: 30px;
}

.hamburger-btn {
  position: absolute;
  top:30px;
  right:40px;
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  display: none;
  font-size: 150%;
  color: rgb(0, 0, 0);
  box-shadow: -1px 1px 6px rgba(151, 151, 151, 0.534);
  transition: box-shadow 0.4s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.hamburger-btn:hover {
  box-shadow: -1px 1px 6px rgba(236, 236, 236, 0.856);
}

.logo-for-mobile {
  display: none;
}

/* CONTACT MODAL */

.contact-modal-box {
  background-color: #BB5959;
  width: 70%;
  margin: 5% auto;
  padding: 5%;
  border-radius: 10px;
  position: relative;
  color: #fff;
}

.contact-modal-box form {
  margin: 20px 0;
}

.contact-modal-box label {
  display: block;
  margin-bottom: 5px;
}

.contact-modal-box input,
.contact-modal-box textarea {
  border:0;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #CF7777;
  color:#fff;
  outline: none;
  resize:none;
  font-size: 85%;
}

.btn.btn-white-send:link,
.btn.btn-white-send:visited {
  padding: 9px 35px;;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 1px 15px rgba(82, 82, 82, 0.637) ;
  color: #BB5959;
  transition: box-shadow 0.4s;
}

.btn.btn-white-send:hover,
.btn.btn-white-send:active {
  box-shadow: 0px 1px 10px #ec8f8fd0 ;
}

/* ---------------------------- */
/* PARTS */
/* ---------------------------- */

.part-card {
  box-shadow: 0px 8px 15px rgb(235, 235, 235);
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.4s;
  margin-right: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.part-card h3, .part-card img {
  margin-bottom: 30px;
  transition: color 0.4s;
}

.part-card img {
  height: 30px;
  transition: filter 0.4s;
}

.part-card p {
  font-size: 65%;
  transition: color 0.4s;
}

.part-card:hover{
  background-color: #BB5959;
}

.part-card:hover p,.part-card:hover h3 {
  color: #fff;
}

.part-card:hover img {
  filter: invert(1);
}

/* PART'S MODAL */

.part-modal-box {
  background-color: white;
  width: 70%;
  margin: 2% auto;
  padding: 5%;
  border-radius: 10px;
  position: relative;
}

.part-modal-box .modal-header {
  margin-bottom: 40px;
}

.part-modal-box .modal-header img {
  height: 35px;
  transform: translateY(10px);
}

.part-modal-box .modal-header h3 {
  display: inline;
}

.grey-box {
  background-color: rgb(238, 238, 238);
  height: 190px;
  margin:0 20px 40px 0px;
  border-radius: 10px;
}

.part-modal-box .modal-body h4 {
  font-size: 75%;
  font-weight: 600;
  margin-bottom: 25px;
}

.part-modal-box .modal-body ul li {
  font-size: 78%;
}



/* ---------------------------- */
/* TYPES */
/* ---------------------------- */

.section-types .row {
  text-align: center;
}

.types-box {
  background-image: linear-gradient(to bottom right,rgb(177, 76, 76), #CF7777);
  background-color: #BB5959;
  padding: 30px;
  border-radius: 20px;
}

.types-box h2, .types-box p {
  margin-top: 40px;
  color: #fff;
}

.types-box p {
  color:rgb(241, 241, 241);
  width: 70%;
  margin: 0 auto;
}

.stove-pic {
  margin-bottom: 200px;
}

.stove-pic img {
  width: 45%;
}

.stove-pic::after {
  content: '';
  display: block;
  width: 30%;
  margin: 50px auto 0 auto;
  filter:blur(20px);
  border-bottom: 7px solid black;
}

.circle-dots-container {
  width: 70%;
  margin: 40px auto;
}

.circle-dots-container .dot {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 7%;
  padding-top: 2.8%;
  text-align: center;
  background-color: #882e2e;
  color:rgb(241, 241, 241);
  font-size: 80%;
  font-weight: 500;
  transition: background-color 0.7s, color 0.7s, box-shadow 0.7s;
}

.circle-dots-container .dot.active {
  background-color: rgb(241, 241, 241);
  color:black;
  box-shadow: 0px 3px 20px rgba(255, 255, 255, 0.615);
  transition: box-shadow 1s, background-color 1s, color 1s;
}

.stove-type-container {
  height: 120px;
  margin-bottom: 40px;
}

.stove-type-container ul {
  list-style: none;
  position: relative;
}

.stove-type-container ul li {
  width: 100%;
  position: absolute;
}

.stove-type {
  opacity: 0;
  transition: opacity 0.8s;
}

.stove-type.active {
  opacity: 1;
}

.type-nav-btn {
  width: 35px;
  height: 35px;
  border:0;
  border-radius: 50%;
  color: #a04141;
  margin: 10px;
  font-size: 20px;
  background-color: #fff;
  padding-top: 4px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.2s, opacity 0.8s;
  -webkit-tap-highlight-color: transparent;
}

.type-nav-btn:hover {
  box-shadow: 0 1px 4px #fff;
}

.type-nav-btn.is-greyed-out {
  opacity: 0.3;
}

/* ---------------------------- */
/* SERVICES */
/* ---------------------------- */

.section-services .title {
  position: relative;
}

.section-services .title h2 {
  text-align: left;
  font-weight: 400;
  z-index: 1;
  position: relative;
}

.section-services .title .bg-quote {
  position: absolute;
  z-index: 0;
  font-size: 100px;
  color:rgb(219, 219, 219);
  width: 160px;
  height: 140px;
  top: -25px;
}

.service-track-container {
  width: 100%;
  position: relative;
}

.service-track {
  list-style: none;
  white-space: nowrap;
  position: relative;
  margin-bottom: 50px;
}

.service-track::before {
  content:'';
  box-shadow: inset 40px 0 20px rgba(255, 255, 255, 0.616);
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 110%;
  z-index: 1;
}

.service-track::after {
  content:'';
  box-shadow: inset -150px 0px 80px rgba(250, 250, 250, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 110%;
}

.service-track li {
  display: inline-block;
  transform: translateX(0); /* initiating just for transition animation */
  transition: transform 0.4s ease-out;
}

.service-box {
  white-space: normal;
  width: 480px;
  margin: 10px 15px;
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgb(235, 235, 235);
}

.service-box h3 {
  margin-bottom: 28px;
}

.service-box p {
  font-size: 70%;
  width: 80%;
  color: rgb(126, 126, 126);
}

.service-nav-btn {
  padding: 10px;
  width: 60px;
  height: 60px;
  border:0;
  outline:0;
  border-radius: 50%;
  margin-right: 20px;
  background-color: white;
  box-shadow: 0 1px 10px rgb(231, 231, 231);
  font-size: 23px;
  color:#BB5959;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.service-nav-btn:hover {
  background-color: #BB5959;
  color: #fff;
  box-shadow: 0 10px 30px rgba(187, 89, 89, 0.795);
}

/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */

footer {
  padding: 80px 0 40px 0;
}

.inquire-box {
  background-image: linear-gradient(to bottom right,rgb(177, 76, 76), #CF7777);
  padding: 80px;
  text-align: center;
  width: 85%;
  margin: 0 auto 55px auto;
  border-radius: 14px;
  color: #fff;
}

.inquire-box h2 {
  font-weight: 400;
}

.inquire-box h2 strong {
  font-weight: 600;
}

.btn.btn-light-inquire {
  color: #BB5959;
  background-color: #fff;
  box-shadow: 0px 1px 50px #525252bb ;
  padding: 14px 40px;
  font-size: 100%;
  margin-bottom: 20px;
  transition: box-shadow 0.4s;
}

.btn.btn-light-inquire:hover {
  box-shadow: 0px 1px 30px #cececed0 ;
}

footer hr {
  border: 1px solid rgba(238, 238, 238, 0.842);
  margin-bottom: 40px;
}

.social-nav {
  list-style: none;
}

.social-nav li:first-child {
  margin-left: 90px;
}

.social-nav li {
  float:left;
  margin-right: 50px;
}


.social-nav img {
  width: 30px;
  filter: invert(55%);
  transition: filter 0.4s;
}

.social-nav img:hover {
  filter: invert(0);
}


.rights-statement {
  float: right;
  color: rgb(134, 134, 134);
  margin-top:7px;
  font-size: 80%;
}